@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700;800&display=swap");

:root {
  --font-primary: "Be Vietnam Pro", sans-serif;
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --light-gray: hsl(9, 54%, 97%);
  --placeholder-text: hsl(0, 0%, 55%);
  --white: hsl(0, 0%, 100%);
  --shadow1: hsl(9, 68%, 56%);
  --shadow2: hsl(9, 100%, 78%);
}

/* General Styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  font-weight: 400;
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
}

/* Shared Styles */

.container {
  width: min(87.2%, 327px);
}

.paragraph {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--dark-blue);
  opacity: 0.5;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn-primary {
  display: block;
  background: var(--bright-red);
  box-shadow: 0px 15px 15px -10px var(--shadow2);
  border-radius: 22px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--light-gray);
  padding: 1.2rem 3.2rem 1.3rem;
  width: fit-content;
}

.section-heading {
  font-weight: 800;
  line-height: 4.5rem;
  text-align: center;
  color: var(--dark-blue);
}

/* Header */

.header .container {
  margin: 4.1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-logo {
  width: 110px;
  height: 18px;
}

.menu-btn {
  padding-bottom: 0.4rem;
}

.navigation,
.desktop {
  display: none;
}

/* Hero */

.main-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  letter-spacing: -1px;
  color: var(--dark-blue);
}

.hero .paragraph {
  width: min(86.13333%, 323px);
  margin: 0.9rem auto 0;
}

.hero .btn-primary {
  margin: 2.9rem auto 0;
}

/* Different */

.different {
  margin-top: 9.3rem;
}

.different .section-heading {
  width: min(88.53333%, 332px);
  margin: 0 auto;
  font-size: 3rem;
  letter-spacing: -0.61875px;
}

.different .paragraph {
  font-weight: 400;
  font-size: 1.4rem;
  width: min(86.13333%, 323px);
  margin: 1.3rem auto 0;
}

/* Features */

.features {
  display: flex;
  flex-direction: column;
  gap: 4.7rem;
  margin-top: 5.4rem;
}

.feature-heading {
  margin-left: 1.6rem;
  background: var(--very-pale-red);
  border-radius: 39px 0px 0px 39px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: -0.285714px;
  color: var(--dark-blue);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.feature-number {
  background: var(--bright-red);
  border-radius: 39px;
  color: var(--white);
  padding: 0.6rem 2.4rem 1rem 2.3rem;
}

.features .paragraph {
  text-align: left;
  margin: 0.8rem 0 0 1.6rem;
}

/* Testimonials */

.testimonials {
  margin-top: 6.2rem;
}

.testimonials .section-heading {
  font-size: 3.2rem;
  letter-spacing: -0.66px;
}

.testimonial {
  background: var(--very-light-gray);
  padding: 6rem 2.1rem 4.2rem;
  width: min(90.66667%, 340px);
  margin: 0 auto;
}

.testimonial-name {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: -0.285714px;
  color: var(--dark-blue);
}

.testimonial .paragraph {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.testimonials .btn-primary {
  margin: 4.7rem auto 0;
}

/* Call To Action */

.cta {
  background-color: var(--bright-red);
  background-image: url("../images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding: 9.1rem 0;
  margin-top: 4.2rem;
}

.cta-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  letter-spacing: -1px;
  color: var(--white);
  width: min(100%, 320px);
  margin: 0 auto;
}

.cta-btn {
  display: block;
  width: fit-content;
  margin: 2.9rem auto 0;
  background: var(--white);
  box-shadow: 0px 15px 15px -10px var(--shadow1);
  border-radius: 22px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--bright-red);
  text-align: center;
  padding: 1.2rem 3.2rem 1.3rem;
}

/* Footer */

.footer {
  background: var(--very-dark-blue);
  color: var(--white);
  padding-top: 5.1rem;
}

.footer .container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  justify-content: space-between;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.8rem;
  margin-bottom: 5.4rem;
  grid-column: span 2;
}

.form-input {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  letter-spacing: -0.1px;
  color: var(--placeholder-text);
  border-radius: 22px;
  padding: 1.1rem 2.4rem 1.4rem;
  border: none;
}

.submit-btn {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-align: center;
  color: var(--light-gray);
  background: var(--bright-red);
  border-radius: 22px;
  padding: 1.4rem 2.5rem 1.7rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.3rem;
  width: fit-content;
}

.footer-links:nth-of-type(1) {
  margin-left: 3.9rem;
}

.footer-links:nth-of-type(2) {
  margin: 0 2.4rem 0 auto;
}

.footer-link {
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -0.234375px;
  color: var(--white);
}

.social-icons {
  display: flex;
  gap: 3.4rem;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
  margin-top: 5rem;
}
.social-icon-wrapper {
  width: 32px;
  height: 32px;
}

.social-icon {
  width: 32px;
}

.footer-logo {
  margin: 5.4rem auto 0;
  grid-column: span 2;
  width: 158px;
  height: 26px;
}

.copyright,
.attribution {
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: -0.203125px;
  opacity: 0.5;
}

.copyright {
  font-size: 1.3rem;
  grid-column: span 2;
  margin-top: 5rem;
}

.attribution {
  font-size: 1.1rem;
  margin-top: 3rem;
}

.attribution a {
  color: var(--white);
  opacity: 1;
}
